@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Rubik:wght@500&display=swap');

body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}

/* !Head */
.head{
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 110px;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #3C096C;
  box-shadow: 1px 2px 5px #E0AAFF;
}
.head_cont{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 0.5% 5vmin;
}
.head_logo, .logo_img{
  height: 100%;  
}
.nav,.nav_link{
  display: flex;
  align-items: center;
}
.nav_link{
  list-style: none;
  margin: 0 1em;
}
.nav_link a{
  margin: 5px;
  font-size: 1.5em;
  color: #3C096C;
  text-decoration: none;
  padding: 0.5em;
}
.nav_link a:hover{
  border: 1px solid #3C096C;
  border-radius: 1em;
}
.btn-group .btn{
  padding: 15px;
  color: #fff;
  background: #3C096C;
}
.btn-group .btn i{
  margin: 0 5px;
}
.btn-group .btn:hover{
  background: #7B2CBF;
}
.dropdown-menu{
  text-align: center;
  font-size: 1.2em;
  top: 25px !important;
}
#SignIn{
  color: #3C096C;
}
.nav_resp{
  display: none;
}

/* !Footer */
#footer{
  width: 100vw;
  background: rgb(60, 9, 108);
  color: #fff;
}
.footer_content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
}
.footer_content .box{
  padding: 1% 2%;
  height: 100%;
  min-width: 380px;
  max-width: 33%;
}
.box h3{
  font-size: 1.5em;
  text-transform: uppercase;
  align-self: start;
}
.box_content{
  margin: 1em 0;
}
.box_content p{
  margin: 2em 0;
}
.box_social{
  width: 100%;
  margin: 2em 0;
  display: flex;
  justify-content: center;
}
.box_social a{
  color: #E0AAFF;
  margin: 0 5%;
}
.box_social a:hover{
  color: #5A189A;
}
.box_social i{
  height: 5%;
  width: 5%;
  text-align: center;
  font-size: 25px;
}
.box:nth-child(2) i{
  font-size: 1.5rem;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background: #5A189A;
  margin: 10px 0;
}
.box:last-child{
  max-width: 400px;
}
.box:last-child form div{
  margin: 10px 0;
}
.box label{
  display: block;
  font-size: 18px;
}
.box input, .box textarea {
  width: 100%;
  font-size: 1.3em;
  padding-left: 10px;
  color: #000;
  resize: none;
  border: none;
  border-radius: 0.5em;
}

.box input{
  height: 30px;
}
.box_btn button{
  background: rgb(36, 0, 70);
  color: #fff;
}
.box_btn .btn:hover{
  background: rgba(224, 170, 255,0.5);
  color: #fff;
}
/* !Main */

.main{
  margin-top: 130px;
  margin-bottom: 5vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_sec{
  height: 100%;
  width:80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec_img, .img_content{
  height: 75%;
  width: 35vw;
}
img[alt="Ilustracion-home2"]{
  transform: scaleX(-1);
}
.sec_content{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}
.sec_content_title{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 6vmin;
  color: #5A189A;
  margin: 1em;
}
.sec_content_parraf{
  font-family: 'Rubik', sans-serif; 
  font-size: 3vmin;
  color: #7B2CBF;
  text-align:center;
}

@media screen and (max-width: 750px){
  /* !Head */
  .nav{
    display: none;
  }
  .nav_resp{
    display: block;
  }
  .nav_resp button{
    background: none;
    font-size: 3em;
    color: #3C096C;
    border: 0;
  }
  .dropdown-menu{
    top: 8px !important;
    width: 180px !important;
  }
  .nav_resp .dropdown-item{
    color: #3C096C;
    margin: 0.5em;
  }
  /* !Main */
  .sec_img{
    display: none;
  }
  .sec_content{
    border: #3C096C 3px solid;
    border-radius: 1em;
    height: auto;
    padding: 2em;
  }
  /*!Footer*/
  .box{
    min-width: 100%;
    overflow: hidden;
  }
}