:root{
  --tag:#fff;
}

/* !Head */
.head_icon{
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #7B2CBF;
  text-align: center;
  cursor: pointer;
  border: none;
}
.head_icon i{
  font-size: 35px;
  color: #fff;
}
.dropdown-menu {
  top: 10vh !important;
}
.dropdown-menu i{
  margin: 1em;
  color: #3C096C;
}

/* !Main*/
#main{
  margin-top: 130px;
  width: 100vw;
}
.main_aside{
  position: relative;
  height: 100%;
  padding: 1%;
  color: #3C096C;
  border: 1px solid #E0AAFF;
}
.main_aside .btn-primary{
  background-color: #3C096C;
}
.main_aside .btn-primary:focus{
  background-color: #7B2CBF;
  outline: none;
}
.btn{
  color: #fff;
}
.main_aside .btn-mark{
  background: #9D4EDD;
}
.main_aside .btn-mark:focus{
  background-color: #9D4EDD;
  outline: none;
  color: #fff;
}
.main_aside ul{
  width: 90%;
  margin-left: 10%;
  list-style: none;
}
.main_aside li{
  margin: 7px;
}
.main_aside li .btn{
  display: block;
  width: 100%;
}
.main_aside li i{
  margin: 7px;
}
.main_aside input{
  position: absolute;
  right: 15%;
  accent-color: #7B2CBF;
}
.main_aside_resp{
  display: none;
}

.main_aside_resp button{
  color: #7B2CBF;
  background: none;
  border: none;
  font-size: 25px;
}

#main_sec{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-template-rows: repeat(auto, minmax(300px,1fr));
}
.sec_mark{
  display: inline-block;
  margin: 1%;
  padding: 5%;
  border-radius: 1.5em;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid var(--tag);
}
.mark_content{
 position: relative;
}
.mark_content h4, .mark_content p{
  color: var(--tag);
}
.tag_icon{
  position: absolute;
  right: 0;
}
.tag_icon i{
  color: var(--tag);
  font-size: 1.2em;
  line-height: 10px;
}
.mark_icons{
  display: flex;
  justify-content: space-between;
}
.mark_icons_edit, .mark_icons_fav{
  font-size: 20px;
  line-height: 20px;
  background: none;
  border: none;
  color: #bbb;
}
.mark_icons_edit:Hover{
  color: #aaa;
  cursor: pointer;
}
.mark_icons_edit{
  color: var(--tag);
}
.mark_icons_fav:hover{
  color: var(--tag);
  cursor: pointer;
}
.red_heart{
  color: var(--tag);
}
.mark_icons .dropdown-menu{
  background: transparent;
  border: 1px solid #bbb;
  top: 0 !important;
  width: 10px !important;
}
.mark_icons .dropdown-menu button:hover{
  background: #aaa;
}
.mark_content {
  width: 100%;
  color: #fff;
}
.mark_content a{
  color: #fff;  
}

@media screen and (max-width: 1400px) {
  #main_sec{
    width: 100%;
    margin: 0;
  }
  .main_aside_resp{
    display: inline-block;
  }
  .main_aside{
    display: none;
  }
}
@media screen and (max-width:750) {
   .box{
    width: 100%;
   } 
}